.TopHeader {
  height: 100vh;
  width: 100vw;
  max-height: 100vw;
  max-width: 100vh;
  /* animation: shrinkHeader 800ms ease-in-out 1500ms forwards; */
  animation: shrinkHeader 1s ease-in-out 1s forwards;
}

@keyframes shrinkHeader {
  0% {height: 100vh; width: 99vw}
  100% {height: 12vh; width: 100vw}
}